# jekyll related files and folders
_site/
.bundle
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
*.gem

# vscode related folders
.vscode/

# local test content
index.md
_posts/
category
/_config.yml
/index.md
/project*.md
/testpages
