---
layout: default
hideHeaderDesktop : true
hideFooterDesktop : true
---

<aside class="sidebar" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <a class="site-title img-circle" rel="author" href="{{ "/" | relative_url }}">
    {% avatar {{site.minima.social_links.github]}} size=150 %}
	</a>
  <h2 class="sidebar-heading">{{ site.title | escape }}</h2>
  <p>{{- site.description | escape -}}</p>
    <div class="left-nav">
      <ul>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path.name | first | default: path -%}
          {%- if my_page.title -%}
            <li class="page-link"> <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  <div class="social-links">
    {%- include social.html -%}
  </div>
</aside>

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts limit:3 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
