---
layout: default
---
<div id="page-banner">
  <div class="color-overlay"></div>
  <img src="{{ page.image }}" alt="{{ page.header }}"/>
  <div class="header">{{ page.header }}</div>
</div>
<article class="project">

  <header class="project-header">
    <h1 class="project-title">{{ page.title | escape }}</h1>
  </header>

  <div class="project-detail-list">
      <a href="{{site.github.repository_url | default: page.url}}" target="_blank">
        <div class="project-detail-item">
          {% octicon code height:50 class:"right left" aria-label:Code %}
          <span>Code</span>
        </div>
      </a>
      <a href="{{site.github.issues_url | default: page.url}}" target="_blank">
        <div class="project-detail-item">
          {% octicon issue-opened height:50 class:"right left" aria-label:Issues %}
          <span>Issues</span>
        </div>
      </a>
      <a href="{{site.github.latest_release.html_url | default: page.html_url}}" target="_blank">
        <div class="project-detail-item">
          {% octicon tag height:52 class:"right left" aria-label:Release %}
          <span>Latest Release</span>
        </div>
      </a>
    </div>

  <div class="project-content">
    {{ content }}
  </div>

</article>
