---
layout: default
---

<article class="project">

  <header class="project-header">
    <h1 class="project-title">{{ page.title | escape }}</h1>
  </header>

  <div class="project-detail-list">
    <div class="project-detail-item">
      <div class="circle">
        <a href="{{site.github.repository_url | default: page.url}}" target="_blank">
          {% octicon code height:50 class:"right left" aria-label:Code %}
        </a>
      </div>
      <span>Code</span>
    </div>
    <div class="project-detail-item">
      <div class="circle">
        <a href="{{site.github.issues_url | default: page.url}}" target="_blank">
          {% octicon issue-opened height:50 class:"right left" aria-label:Issues %}
        </a>
      </div>
      <span>Issues</span>
    </div>
    <div class="project-detail-item">
      <div class="circle">
        <a href="{{site.github.latest_release.url | default: page.url}}" target="_blank">
          {% octicon tag height:52 class:"right left" aria-label:Release %}
        </a>
      </div>
      <span>Latest Release</span>
    </div>
  </div>

  <div class="project-content">
    {{ content }}
  </div>

</article>
